/* Секция клиенты */

.clients {
  margin: 0 auto;

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin-bottom: 50px;
  }
}
.clients-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 170px;
    height: 90px;
    border: 1px solid $logo-color;
    box-sizing: border-box;
    border-radius: 4px;
    fill: $logo-color;
    transition: border $transition-time $transition-function,
      fill $transition-time $transition-function;
  }
  &__item &__link:hover,
  &__item &__link:focus {
    border: 1px solid $static-color;
    fill: $static-color;
    cursor: pointer;
  }
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}
