.footer-style {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-style__logo {
  color: $primary-white-color;
}

.appeal-part {
  display: flex;
  align-items: center;
}

.appeal {
  display: inline-block;
  margin: 0;
  margin-left: 156px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}

.position {
  margin-left: 154px;
}

.subscription {
  display: flex;
}

/* Стиль текста адреса */
.addrss-line {
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
.addrss {
  display: flex;
  width: 231px;
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-style .contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  margin-top: 9px;
  transition: color $transition-time $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-style .social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 70px;
}

.social-list__link--footer {
  display: block;
  padding: 12px;
  margin: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: $primary-white-color;
  transition: background $transition-time $transition-function,
    fill $transition-time $transition-function;

  &:hover,
  &:focus {
    border-radius: 50%;
    background: $static-color;
    fill: $primary-white-color;
    cursor: pointer;
  }
}
.feedback__mail {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 93px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  display: inline-block;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: border $transition-time $transition-function;

  &:hover {
    border: 1px solid $static-color;
    cursor: pointer;
  }
}
/* Кнопка оформления подписки */

.feedback__button--subs {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  align-items: center;
  text-align: center;

  background: $static-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  cursor: pointer;

  margin: 0;
  margin-top: 20px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background $transition-time $transition-function;

  &:hover,
  &:focus {
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

/* Стиль иконки в кнопке футера */

.icon2 {
  fill: $primary-white-color;
  margin-left: 10px;
}
