/* Секция - Слоган студии */
.slogan {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img_overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Стиль слогана */

.slogan__statement {
  margin: 0px auto;
  max-width: 696px;
  max-height: 120px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.slogan__button {
  /* Стиль кнопки - заказать работу */

  display: inline-block;
  width: 200px;
  height: 50px;
  background: $static-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  transition: background $transition-time $transition-function;

  /* Стиль текста кнопки- Заказать услугу */
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  padding: 0;
  color: #fff;
}

.slogan__button:hover,
.slogan__button:focus {
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
