$primary-text-color: #212121;
$secondary-text-color: #757575;
$title-text-color: #212121;
$static-color: #2196f3;
$filter-static-color: #f5f4fa;
$accent-color: #188ce8;
$primary-white-color: #ffffff;
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
